/**
    LottoSim, Copyright Ole Dahle 2012-2016.
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

body {
	background-color: #e0e0e0;
	color: white;
	font-family: arial, georgia;
	font-size: 14px;
}

#infoHeader {
	width: 100%;
	color: black;
	text-align: center;
}

#numbers-container {
	display: inline-block;
	background-color: #4895c4;
	width: 20rem;
	margin-left: 3rem;
	margin-right: 3rem;
	margin-top: 5rem;
	float: left;
	/*position:absolute; left: 20px; top: 120px;*/
    border: 3px solid #aaaaaa;
	border-radius: 15px;
	padding: 10px;
}

#grouping {
	display: inline-block;
	float:right;
	margin-top: 5rem;
}
	
#cupon-container, #status-container {
	background-color: #4895c4;
	min-width: 20rem;
	margin-right: 3rem;
	margin-bottom: 2rem;
    border: 3px solid #aaaaaa;
	border-radius: 15px;
	padding: 10px;
}	

.number {
    background-image: url(images/red_ball.png);
	background-size: 100%;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	cursor:none;
    line-height: 2.5rem;
    height: 2.5rem;
    width: 2.5rem;
}

.number:hover, .number.selected {
    background-image: url(images/white_ball.png);
    color: #000000;
    cursor: inherit;
}