body {
	background-color: #0000ff;
	color: #ffffff;
	font-family: arial, georgia;
	font-size: 14px;
}

#infoHeader {
	width: 100%;
	text-align: center;
}

#numbers-container {
	display: inline-block;
	background-color: #4895c4;
	width: 20rem;
	margin-left: 3rem;
	margin-right: 3rem;
	margin-top: 5rem;
	float: left;
	/*position:absolute; left: 20px; top: 120px;*/
    border: 3px solid #aaaaaa;
	border-radius: 15px;
	padding: 10px;
}

#grouping {
	display: inline-block;
	float:right;
	margin-top: 5rem;
}
	
#cupon-container, #status-container {
	background-color: #4895c4;
	min-width: 20rem;
	margin-right: 3rem;
	margin-bottom: 2rem;
    border: 3px solid #aaaaaa;
	border-radius: 15px;
	padding: 10px;
}	

.number {
    background-image: url(images/red_ball.png);
	background-size: 100%;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	cursor:none;
    line-height: 2.5rem;
    height: 2.5rem;
    width: 2.5rem;
}

.number:hover, .number.selected {
    background-image: url(images/white_ball.png);
    color: #000000;
    cursor: inherit;
}